{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" href="{% static 'css/events/event-detail.css' %}" />
{% endblock %}

{% block content %}
<div class="event-container">
  <section class="events">
      {% if event.image %}
          <img class="responsive-img card-panel" src="{{ event.image.url }}" />
      {% else %}
          <img src="{% static 'images/lets_go_logo_2.svg' %}" alt="Let's Go logo" class="responsive-img card-panel" />
      {% endif %}

      <h1>{{ event.start_date }}</h1>
      <h1>{{ event.title }}</h1>
      <h2>Date and Time</h2>
    <h3>{{ event.start_date }} - {{ event.end_date }}</h3>
      <h3>{{ event.start_time }} - {{ event.end_time }}</h3>
      
      <h2>About this Event</h2>
      <h3>{{ event.description }}</h3>
      
      <h2>Location</h2>
      <h3>{{ event.location_name }}</h3>
      <h3>{{ event.location_street_number }} {{ event.location_street_name }} {{ event.location_city }} {{ event.location_state }}, {{ event.location_zipcode }}</h3>
   
      {% if user.is_authenticated and vendor == event.vendor %}
      <a href="{% url 'event-update' event.id %}" class="btn warn">Edit</a>
      <a href="{% url 'event-delete' event.id %}" class="btn danger">Delete</a>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
