{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/events/event-detail.css' %}" />
{% endblock %} {% block content %}
<section class="collection-container">
  <div class="collection-img">
    <img src="{% static 'images/logo.png' %}" alt="power ranger toys" />
  </div>
</section>

<div class="event-container">
  <section class="items">
    {% comment %}
    <div class="subsection-title">
      {% endcomment %}
      <h1>{{ event.start_date }}</h1>
      <h1>{{ event.title }}</h1>
      <h2>Date and Time</h2>
      <p></p>
      <p></p>
      <p></p>
      <h2>About this Event</h2>
      <h1>{{ event.description }}</h1>
      <h2>Location</h2>
      <p>
        {{ event.location_name }} 
      </p>
        {{ event.location_street_number }} 
        {{ event.location_street_name }}
      {{ event.location_city }} {{ event.location_state }} {{event.location_zipcode }}
      <a href="{% url 'event-update' event.id %}" class="btn warn">Edit</a>
      <a href="{% url 'event-delete' event.id %}" class="btn danger">Delete</a>
    </div>
  </section>
</div>
{% endblock %}
