{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
      rel="shortcut icon"
      type="image/png"
      href="/static/images/iCollect_logo.png"
    />
    <title>Let's Go!</title>
    <link rel="stylesheet" href="{% static '/css/colors.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="/">
          <img src="/static/images/lets_go_logo_2.svg" alt="Let's Go Logo" />
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            {% if vendor %}
              <li><a href="{% url 'vendor-events' %}">Your Events</a></li>
              <li><a href="{% url 'event-create' %}">Add an Event</a></li>
            {% else %}
              <li><a href="{% url 'home' %}">All Events</a></li>
            {% endif %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
  
    <main>
      {% block content %}{% endblock %}
    </main>

    {% comment %} <footer>
      <div class="footer-content">
        <p>&copy; 2025 Let's Go! | All Rights Reserved</p>
        <nav class="footer-nav">
          <ul>
            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms-of-service' %}">Terms of Service</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </nav> 
      </div>
    </footer> {% endcomment %}

  </body>
  </body>
  </html>
