{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="{% static 'css/events/home.css' %}"
/>
{% endblock %} {% block content %}


  <div
    id="carouselExampleIndicators"
    class="carousel slide mb-4"
    data-bs-ride="carousel"
    data-bs-interval="4000"
    data-bs-pause="false"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'images/carousel_image_1.png' %}"
          class="d-block w-100"
          alt="culinary delights image"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/carousel_image_2.png' %}"
          class="d-block w-100"
          alt="good vibes image"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'images/carousel_image_3.png' %}"
          class="d-block w-100"
          alt="food pop-up image"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <h1>Here are the events happening in your area!</h1>

  <section class="card-container">
    {% for event in events %}
    <div class="card">
      <a href="{% url 'event-detail' event.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if event.image %}
              <img class="responsive-img card-panel" src="{{ event.image.url }}" alt="event image"/>
            {% else %}
              <img src="{% static 'images/lets_go_logo_2.svg' %}" alt="Let's Go logo" class="responsive-img card-panel" />
            {% endif %}
          </div>
          <h2 class="card-title">{{ event.title }}</h2>
          <p><medium>{{ event.title}}</medium></p>
          <p><small>{{ event.description }}</small></p>
          <p><small>{{ event.start_date }}, {{ event.start_time }}</small></p>
          <p><small>{{ event.location_name}}</small></p>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
