{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="event-container">
  {% if user.is_authenticated %}
    <a href="{% url 'events-index' %}">
      <img 
        src="{% static 'images/lets_go_logo_2.svg' %}"
        alt="let's go logo"
        class='logo-container'
        />
      </a>
  {% else %}
    <a href="/">
      <img 
      src="{% static 'images/lets_go_logo_2.svg' %}"
      alt="let's go logo"
      class='logo-container'
    />
    </a>
  {% endif %}
</div>

</section>
{% if not user.is_authenticated %}
  <section class="login-container">
    <form action="" method="post" class="login" autocomplete="off">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}

{% endblock %}
