{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/colors.css' %}" />
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 

<h1>Sign Up</h1>

<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    <p class="red-text">{{ form.username.errors }}</p>
    <tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
    
    <p class="red-text">{{ form.email.errors }}</p>
    <tr><td>{{ form.email.label_tag }}</td><td>{{ form.email }}</td></tr>
    
    <p class="red-text">{{ form.password1.errors }}</p>
    <tr><td>{{ form.password1.label_tag }}</td><td>{{ form.password1 }}</td></tr>
    
    <p class="red-text">{{ form.password2.errors }}</p>
    <tr><td>{{ form.password2.label_tag }}</td><td>{{ form.password2 }}</td></tr>
    
    <p class="red-text">{{ form.is_vendor.errors }}</p>

    <tr>
      <td>
        <label class="checkbox-label">
          Are you a vendor?
          {{ form.is_vendor }}
          <span>Yes</span>
        </label>
      </td>
    </tr>
  </table>

  <div id="vendor-fields" style="display:none;">
    <table>
      <tr><td>{{ form.vendor_type.label_tag }}</td><td>{{ form.vendor_type }}</td></tr>
      <tr><td>{{ form.primary_contact_name.label_tag }}</td><td>{{ form.primary_contact_name }}</td></tr>
      <tr><td>{{ form.business_name.label_tag }}</td><td>{{ form.business_name }}</td></tr>
      <tr><td>{{ form.business_email.label_tag }}</td><td>{{ form.business_email }}</td></tr>
    </table>
  </div>

  <button type="submit" class="btn submit">Submit!</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const isVendorCheckbox = document.querySelector('#id_is_vendor');
    const vendorFields = document.getElementById('vendor-fields');

    function toggleVendorFields() {
      if (isVendorCheckbox.checked) {
        vendorFields.style.display = 'block';
      } else {
        vendorFields.style.display = 'none';
      }
    }

    toggleVendorFields();

    isVendorCheckbox.addEventListener('change', toggleVendorFields);
  });
</script>

{% endblock %}
